
*{
    background-image: image("product_1.png");
    /*background: linear-gradient(66deg, #e6fbfe 0%, #edddfb 100%);*/

}

.login-modal-content{
    position: absolute;
    padding: 14px 28px;
    top: 25rem;
    left: 80rem;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 102;
    border: 2.5px solid#162938;

}
.border12{
    border: 2.5px solid #162938
}

.login-modal-content h2{
    font-size: 2rem;
    color: #162938;
    text-align: center;
    text-decoration: underline;
}


.email, .password{
    /*display: flex;*/
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
    border-width: 3px  ;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding: 16px 16px 12px 12px;
}

.btn-login{
    padding: 10px 25px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    transition: all ease 0.3s;
    justify-content: center;
}
.btn-login::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #111827;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
}
.btn-login:hover{
    background-color: #111827;
    color: #f9fafb;
}
.btn-login:hover::after{
    translate: 0;
}
.sign-in1{
    padding: 10px 25px;
    margin: 25px 0 20px 27px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    transition: all ease 0.3s;
    justify-content: center;
}

.sign-in1:hover{
    background-color: #070202;
    color: #f9fafb;
}
